.logoWrapper {
    margin: 100px 0 0 887.98px;
}

.text {
    width: 143.04px;
    height: 49.9px;


    font-family: 'Amazon Ember';
    font-style: normal;
    font-weight: 400;
    font-size: 83.4566px;
    line-height: 135%;
    /* or 113px */

    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
}

.smile {
    display: flex;
    margin: 10px 0 0 0;
}