@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	@apply min-h-screen select-none bg-black text-zinc-50 antialiased p-safe;

	/* PWA enhancements */
	-webkit-overflow-scrolling: touch;
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
}

.colored_circle {
	position: absolute;
	width: 280px;
	height: 280px;
	left: -250px;
	top: -38px;

	background: radial-gradient(
			51.94% 121.41% at 49.59% 48.36%,
			#ffa800 0%,
			rgba(255, 102, 0, 0.83) 100%
		)
		/* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
	filter: blur(250px);
	z-index: -1;
}

.main_content {
	height: 100vh;
	width: 100%;
}
